In [1]:
# read .csv files into pandas df
import pandas as pd

df_mvp_interaction_evidence = pd.read_csv("data/mvp_interaction_evidence.csv")
df_mvp_interactions = pd.read_csv("data/mvp_interactions.csv")
df_mvp_viral_clusters = pd.read_csv("data/mvp_viral_clusters.csv")
df_mvp_viral_cluster_seqs = pd.read_csv("data/mvp_viral_cluster_representative_seqs.txt", sep="\t")

In [6]:
print(df_mvp_interactions.loc[:,[ "interaction_uid", "host_taxon_id", "viral_cluster_id"]])

       interaction_uid  host_taxon_id  viral_cluster_id
0                    1         929506               175
1                    2            562               177
2                    3        1116191               229
3                    4        1116077               229
4                    5        1090926               229
...                ...            ...               ...
27849            27850            338              5335
27850            27851            629             33094
27851            27852            629             33095
27852            27853            629               190
27853            27854            629             33096

[27854 rows x 3 columns]

In [2]:
print(df_mvp_viral_clusters)

       seq_uid  cluster_id  is_representative mapping_to_representative  \
0            1           0                  1                       NaN
1            2           1                  1                       NaN
2            3           2                  1                       NaN
3            4           3                  1                       NaN
4            5           4                  1                       NaN
...        ...         ...                ...                       ...
50777    50778       33092                  1                       NaN
50778    50779       33093                  1                       NaN
50779    50780       33094                  1                       NaN
50780    50781       33095                  1                       NaN
50781    50782       33096                  1                       NaN

        seq_name  ncbi_taxon_id  seq_length                      seq_source
0      NC_014637         693272    617453.0  ncbi_ref_viral_genome_database
1      NC_023423        1450746    610033.0  ncbi_ref_viral_genome_database
2      NC_023719        1084719    497513.0  ncbi_ref_viral_genome_database
3      NC_021312         251749    459984.0  ncbi_ref_viral_genome_database
4      NC_007346         181082    407339.0  ncbi_ref_viral_genome_database
...          ...            ...         ...                             ...
50777        NaN        1076759         NaN                            ICTV
50778        NaN        1966265         NaN                            ICTV
50779        NaN        1206560         NaN                            ICTV
50780        NaN        1351740         NaN                            ICTV
50781        NaN        1589265         NaN                            ICTV

[50782 rows x 8 columns]

In [10]:
print(df_mvp_viral_cluster_seqs.loc[: , ["cluster_id", "seq_name", "ncbi_taxon_id"]])

       cluster_id   seq_name  ncbi_taxon_id
0               0  NC_014637         693272
1               1  NC_023423        1450746
2               2  NC_023719        1084719
3               3  NC_021312         251749
4               4  NC_007346         181082
...           ...        ...            ...
32820       32820  NC_018451         857288
32821       32821  NC_001546         196399
32822       32822  NC_004033         196094
32823       32823  NC_003380         195056
32824       32824  NC_002566         134606

[32825 rows x 3 columns]

In [19]:
print(df_mvp_viral_cluster_seqs)

      seq_uid\tcluster_id\tis_representative\tmapping_to_representative\tseq_name\tncbi_taxon_id\tseq_length\tseq_source\tseq_str
0      1\t0\t1\t\tNC_014637\t693272\t617453\tncbi_ref...
1      2\t1\t1\t\tNC_023423\t1450746\t610033\tncbi_re...
2      3\t2\t1\t\tNC_023719\t1084719\t497513\tncbi_re...
3      4\t3\t1\t\tNC_021312\t251749\t459984\tncbi_ref...
4      5\t4\t1\t\tNC_007346\t181082\t407339\tncbi_ref...
...                                                  ...
32820  50506\t32820\t1\t\tNC_018451\t857288\t301\tncb...
32821  50507\t32821\t1\t\tNC_001546\t196399\t300\tncb...
32822  50508\t32822\t1\t\tNC_004033\t196094\t230\tncb...
32823  50509\t32823\t1\t\tNC_003380\t195056\t220\tncb...
32824  50510\t32824\t1\t\tNC_002566\t134606\t200\tncb...

[32825 rows x 1 columns]